[submodule "external/powervr-sdk/external/concurrent_queue/source"]
	path = external/powervr-sdk/external/concurrent_queue/source
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "external/powervr-sdk/external/glm/source"]
	path = external/powervr-sdk/external/glm/source
	url = https://github.com/g-truc/glm.git
[submodule "external/powervr-sdk/external/glslang/source"]
	path = external/powervr-sdk/external/glslang/source
	url = https://github.com/KhronosGroup/glslang.git
[submodule "external/powervr-sdk/external/pugixml/source"]
	path = external/powervr-sdk/external/pugixml/source
	url = https://github.com/zeux/pugixml.git
[submodule "external/powervr-sdk/external/VulkanMemoryAllocator/source"]
	path = external/powervr-sdk/external/VulkanMemoryAllocator/source
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
